.App {
  text-align: center;
}

.Container {
  background-color: brown;
  margin: auto;
  width: 40%;
  border: 3px solid black;
  padding: 0%;
}

.SignInForm, .SignUpForm, .Post {
  display: none;
}

